body {
    /* Define the gradient colors and direction */
    background: linear-gradient(45deg, #C724B1, #71DBD4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff; 
}
.text-box {
    color: #000;
    background-color: #f2f2f2; /* Background color of the box */
    padding: 20px; /* Add padding to create space around the text */
    border-radius: 10px; /* Add rounded corners to the box */
    font-size: 15pt;

}
.hero {
    background-color: #fff;
    color: #000;
    margin-top: 50px;
}
/* Make it *sticky* */
.navbar { 
    margin-bottom: 200px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* To ensure it appears above other content */
    /* Add any additional styling you want for your navbar */
}
/* Style for the boxes behind each column */
.col-box {
    color: #000;
    background-color: #f0f0f0; /* Background color */
    padding: 10px; /* Add padding to create space between content and box */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; /* Rounded corners */
    height: 100%; /* Ensure the box expands to match the column's height */
}
