body {
  background: linear-gradient(45deg, #c724b1, #71dbd4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
.navbars {
  background-color: #fff;
  color: #000;
}
.text-box {
  color: #000;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  font-size: 15pt;
}
.hero {
  background-color: #fff;
  color: #000;
  margin-top: 50px;
}

.navbar {
  margin-bottom: 200px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.col-box {
  color: #000;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
}
.footer {
  color: #000;
  background-color: #fff;
}
#footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 10px;
}
body,
.nav-item .nav-link,
.site-title,
.text-box,
.col-box,
#footer,
.navbars,
.hero {
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark-mode,
body.dark-mode .nav-item .nav-link,
body.dark-mode .site-title,
body.dark-mode .text-box,
body.dark-mode .col-box,
body.dark-mode #footer,
body.dark-mode .navbars,
body.dark-mode .hero {
  color: #fff;
  transition: background-color 0.7s ease, color 0.7s ease;
}

body.dark-mode {
  background: linear-gradient(90deg, #6a0b72, #1a7c82);
  background-color: #111;
}

body.dark-mode .text-box {
  background-color: #222;
}

body.dark-mode .col-box {
  background-color: #333;
  border: 1px solid #000;
}

body.dark-mode #footer,
body.dark-mode .navbars,
body.dark-mode .hero {
  background-color: #333;
}

.fa-fix {
  color: black;
}
body.dark-mode .fa-fix {
  color: #fff;
}

.toggle-button {
  margin-right: 20px;
}
